* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box
}


.container-menus {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template:
    'header header header' 0.1fr                 
    'side-bar-left main side-bar-right' 0.9fr /
      0.2fr  0.6fr   0.2fr;
    grid-gap: 20px;
    outline: 1px solid #000;
    box-shadow: 1px 0.001px 9px 0.1px;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.4fr;
    outline: 1px solid #000;
    background-color: rgb(51, 110, 199);
    padding-left: 10px;
    
}

.searchbar{
    grid-area:searchbar ;
    display: grid;
    padding-left : 200px;
    box-shadow: 1px 0.001px 9px 0.1px;



}


.side-bar-left {
    grid-area: side-bar-left;
    
    background-color: rgba(159, 250, 250, 0.308);
    padding: 10px;
    grid-template-rows: repeat(3, 20px);
    box-shadow: 1px 0.001px 9px 0.1px;

}

.high{
    grid-area: high;
    margin-bottom: 30px;
    
    
}

img{
    width: 20px;
    height: 15px;
    align-items: center;

}

.mid{
    grid-area: mid;
    margin-bottom: 30px;

}

.low{
    grid-area: low;
    

}

.side-bar-right {
    grid-area: side-bar-right; 
    display: grid;
    grid-template-columns: 0.9fr 0.1fr;
    grid-gap: 10px;
    outline: 1px solid #000;
    background-color: rgba(137, 43, 226, 0.288);
    box-shadow: 1px 0.001px 9px 0.1px;

}
.sub-left{
    outline: 1px solid #000;
}

.main{
    grid-area: main;
    display: grid;
    outline: 1px solid rgb(231, 8, 112);
    background-color: rgba(0, 0, 255, 0.342);
    grid-template-rows:repeat(5, 30px);
    grid-auto-flow: row;
    grid-gap: 20px;
    box-shadow: 1px 0.001px 9px 0.1px;

}
.submain1{
    outline: 1px dashed red;
    
}

.submain2{
    outline:  1px solid black;

}

.submain3{
    outline: 1px solid ;

}


.submain4{
    outline: 1px solid;
}

.submain5{
    outline: 1px solid;
}



